input,
select,
output,
textarea {
  border: 0;
  margin: 0;
  background-color: #eeeeee;
  vertical-align: middle;
}
.feedback {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
.feedback__fieldset {
  box-sizing: border-box;
  border: 0;
  border-top: 1px solid #c1c1c1;
  padding: 20px 0;
  .main-text ();
}

.feedback__label {
  display: block;
}
.feedback__input {
  .header-text ();
  text-transform: none;
  width: 50%;
  padding: 15px 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 0;
}
.feddback__legend {
  .header-text();
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
}
.feedback__input--tel {
  width: 280px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  color: black;
  margin: 0;
}
.feedback__input--email {
  width: 280px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  color: black;
  margin: 0;
}
.feedback__label--2 {
  padding: 10px 20px;
}
.feedback__radio-label {
  .header-text;
  text-transform: none;
  display: block;
}
.feedback__option {
  .header-text;
  text-transform: none;
  height: 60px;
}
.feedback__textarea {
  .header-text;
  text-transform: none;
  width: 240px;
  padding: 20px;
  margin-bottom: 30px;
}
.feedback-button {
  .page-main__hotel();
  width: 324px;
}
@media (min-width: @tablet-width) {
  .feedback {width: 648px;
    display: flex;
    flex-wrap: wrap;
    }
  .feedback__fieldset {
    width: 314px;
    padding-left: 0;
    border: 0;
  }
  .feedback__fieldset--3{
    order: -1;
   }
  .feedback__fieldset--1 {
    order: 1;
  }
  .feedback__fieldset--2 {
    order: 2;
    flex-grow: 2;
    width: 648px;
  }
  .feedback__fieldset--4 {
    order: 4;
    flex-grow: 2;
    width: 648px;
  }
  .feedback__fieldset--5 {
    order: 5;
    flex-grow: 2;
    width: 648px;
  }
  .feddback__legend {
    text-align: left;
  }
  .feedback__textarea {
   width: 648px;
  }
  .feedback__input--tel {
    width: 648px;
  }
  .feedback__input--email {
    width: 648px;
  }
}
@media (min-width: @desktop-width) {
  .feedback {
    width: 960px;
  }
  .feedback__fieldset {
    width: 470px;
    padding-left: 0;
    border: 0;
  }
  .feedback__fieldset--2 {
    flex-grow: 2;
    width: 960px;
  }
  .feedback__fieldset--4 {
    flex-grow: 2;
    width: 960px;
  }
  .feedback__fieldset--5 {
    flex-grow: 2;
    width: 960px;
  }
  .feedback__textarea {
    width: 960px;
  }
  .feedback__input--tel {
    width: 648px;
  }
  .feedback__input--email {
    width: 648px;
  }
}
